/* **************************************************** MAIN ************************* */
/***************************************************************************************/

body {
    font-family: Montserrat, sans-serif;
}

/* *****************************************************      HEADER      ************ */
/***************************************************************************************/

.carousel-caption {
    position: absolute;
    background: rgba(0, 0, 0, 0.0035);
    text-align: center;
    margin-bottom: 12%;
}

.carosuel-item-1 {
    background-image: url("../img/small_img/hero2.jpg");
}

.carosuel-item-2 {
    background-image: url("../img/small_img/1111.jpeg");
}

.carosuel-item-3 {
    background-image: url("../img/small_img/2222.jpg");
}

.carousel-item {
    background-size: cover;
    background-position: center;
}

.min-height-100 {
    height: 100vh;
}

.header {
    padding: 0px 0px 1px 0px;
}

a.cubeBtn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    line-height: 40px;
    perspective: 1500px;
    position: relative;
    display: inline-block;
    margin: 0;
    outline: none;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
}

a.cubeBtn span {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    background: rgba(255, 193, 7, 0.6);

    transition: transform 0.5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    border: #007bff 1px solid;
}

a.cubeBtn span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 193, 7, 0.6);
    content: attr(data-hover);

    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    border: #007bff 1px solid;
}

a.cubeBtn:hover span,
a.cubeBtn:focus span {
    transform: rotateX(90deg) translateY(-30px);
}

a.cubeBtn:hover,
a.cubeBtn:focus {
    outline: none;
}

a.cubeBtn:hover span::before,
a.cubeBtn:focus span::before {
    background: rgba(255, 193, 7, 0.6);
}

/* **************************************************** SECTION "Functions" ********** */
/***************************************************************************************/

.functions {
    padding-top: 3rem;
    background: url("../img/functions-background-yellow.jpg");
    background-size: 70%;
    background-attachment: fixed;
}

.functions h1 {
    font-weight: bold;
    padding: 2rem 0 4rem;
    text-align: center;
    color: white;
}

.functions-content {
    width: 100%;
    max-width: 900px;
}

.functions-content-subcontainers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto;
}

.functions-content-subcontainers:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.functions-content-subcontainers:hover .functions-imgs {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.functions-imgs {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 15px;
    -webkit-transition: box-shadow 0.5s ease-in-out;
    -moz-transition: box-shadow 0.5s ease-in-out;
    transition: box-shadow 0.5s ease-in-out;
}

.functions-text {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 410px) {
    .functions-text {
        font-size: 2.5rem;
    }
}

/* **************************************************** SECTION "Offer" ************* */
/***************************************************************************************/

.offer {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/1background-background-image-blue-sky-1054218.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem 0;
}

.offer h1 {
    font-weight: bold;
    padding: 2rem 0 4rem;
    text-align: center;
}

.offer-details {
    text-align: center;
}

.offer-details h4 {
    font-size: 1.6em;
    font-weight: bold;
}

.offer-details p {
    color: lightgrey;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.offer-icon {
    font-size: 4em;
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

.offer-details:hover .func-icon {
    color: #7b9df3;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}

/* **************************************************** SECTION "About Us" *********** */
/***************************************************************************************/
.about-us {
    background: #f8f9fa;
    height: 100%;
    padding: 2rem 2rem 7rem 2rem;
}

.about-us .row {
    margin: 0;
}

.about-us h1 {
    font-weight: bold;
    text-align: center;
    padding: 3rem 0 4rem 0;
}

.name {
    padding-top: 20px;
    font-weight: bold;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    animation-name: zoomIn;
    animation-duration: 1.7s;
}

.animated {
    animation-fill-mode: both;
}

.box {
    position: relative;
    perspective: 1000px;
}

.box .box-img {
    transform: rotateY(0);
    transition: all 0.50s ease-in-out 0s;
}

.box:hover .box-img {
    transform: rotateY(-90deg);
    opacity: 0;
}

.box .box-img img {
    width: 100%;
    height: auto;
}

.box .box-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 1.2rem;
    text-align: center;
    /*background: rgba(0, 0.5, 0, 0.3);*/
    transform: rotateY(90deg);
    transition: all 0.50s ease-in-out 0s;
    display: flex;
}

.boxcontentreper {
    margin: auto;

}

.box:hover .box-content {
    transform: rotateY(0);
}

.box .title {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.box .description {
    font-size: 1rem;
    line-height: 1.3rem;
    color: black;
}

.box .title:after,
.box .description:after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 1px solid #000000;
    margin: 10px auto;
}

.box .social-links {
    margin-top: 1rem;
    padding: 0;
    list-style: none;
}

.box .social-links li {
    display: inline-block;
    margin: 0 8px;
}

.box .social-links li a {
    font-size: 24px;
    color: #007bff;

}

.box .social-links li a:hover {
    text-decoration: none;
    color: #ffc107;
    transform: rotateY(360deg);
    transition: all 0.5s ease-in-out 0s;
}

@media only screen and (max-width: 990px) {
    .box {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 479px) {
    .box .box-content {
        padding: 20px;
    }
}

.img-fluid {
    border-style: solid;
    border-width: 5px;
    border-color: dimgrey;
}

/* *******************************************************        FORM      ********** */
/***************************************************************************************/

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.newsletter-topic {
    font-size: 1.4rem;
    padding: .5rem .7rem 1.5rem;
    text-align: center;
}

.newsletter-head {
    font-weight: bold;
    padding-bottom: 2rem;
}

.mail-info {
    font-size: 1rem;
    padding: 1rem 1.8rem 0;
}

.kargule img {
    opacity: .9;
}

.kargul, .kargul-reversed {
    width: 140px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
}

.form-label {
    display: flex;
    margin: 1rem auto;
}

.form-label .star {
    color: #a5321d;
}

.form-label input {
    margin-left: 1rem;
}

.form-textarea {
    margin: .3rem 0 .8rem;
    resize: none;
}

.form button {
    padding: .5rem 1.5rem;
}

.form-label input, .form-textarea, .form button {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .5);
}

.form-label input:focus, .form-textarea:focus {
    box-shadow: inset 0 0 3px 0 #007bff;
}

p.form-label-data {
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 800px) {
    .form {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        grid-gap: .8rem;
    }

    .form .form-label {
        margin: auto;
    }

    .item-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 1rem 0;
    }

    .item-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 1rem 0;
    }

    .item-3 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0;
    }

    .send {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: end;
        position: relative;
        display: inline-block;
        padding: 0 20px;
        background: rgba(255, 193, 7, 0.6);
        transition: transform 0.5s;
        transform-origin: 50% 0;
        transform-style: preserve-3d;
        border: #007bff 2px solid;
    }

}

@media screen and (min-width: 1024px) {
    .newsletter-topic {
        font-size: 2rem;
        padding: 1rem;
    }

    .mail-info {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .kargul, .kargul-reversed {
        width: 180px;
    }

}

@media screen and (min-width: 1300px) {

    .newsletter {
        font-size: 1.4rem;
    }

    .kargul {
        position: absolute;
        left: 8rem;
        width: 220px;

    }

    .kargul-reversed {
        position: absolute;
        right: 8rem;
        width: 220px;

    }
}

/* ****************************************************       FOOTER       *********** */
/***************************************************************************************/
.footer {
    color: black;
    height: 22rem;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 24px 0;
    background: #ffc107;
}

.section-title {
    text-align: center;
    color: #007bff;;
    margin-bottom: 50px;
    text-transform: uppercase;
}


.footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #007bff;
}

.footer a {
    color: #ffffff;
    background-color: transparent;
}

.footer ul.social li{
    padding: 3px 0;
}
.footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

.footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

.footer ul.social li a,
.footer ul.quick-links li a {
    color: #007bff;;
}

.footer ul.social li a:hover {
    color: #eeeeee;
}

.footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

.footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

.footer ul.quick-links li a i {
    margin-right: 5px;
}

.footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width: 767px) {
    .footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.map {
    max-height: 180px;
    width: 100%;
}

/* **************************************************** BACK TO TOP BUTTON *********** */
/***************************************************************************************/

#topBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    background-color: lightgrey;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    -webkit-transition: box-shadow 0.8s ease-in-out;
    -moz-transition: box-shadow 0.8s ease-in-out;
    transition: box-shadow 0.8s ease-in-out;
}

#topBtn:hover {
    box-shadow: 30px 30px 30px 30px #ffc107 inset;
}

.topBtn-text {
    font-size: 30px;
    color: black;
}

/* **************************************************    COOKIES    *********** */
/********************************************************************************/

.cookies {
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    background: #000000;
    color: #dbdbdb;
    border-top: 1px solid #ffffff;
    z-index: 10000;
    opacity: 0.9;
    text-align: center;
}

.cookies-text {
    font-size: 110%;
}

.cookies-akcept {
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 7px 0 7px 27px;
    font-size: 90%;
}

.footer-h5-bold {
    font-weight: bold;
}