/* ********** NAWIGACJA ********** */

main > * {
    padding: 50px 0 0;
}

.navi {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px 0 10px;
    background-color: #666F89;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.navi-logo {
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    letter-spacing: 15px;
    padding: .5rem;
    text-decoration: underline;
}

.navi-logo:hover {
    color: #fff;
}

.navi-logo span {
    background-color: #fff;
    color: #666F89;
    padding: 5px 3px 3px 12px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    text-decoration: underline;
    letter-spacing: 2px;
}

.navi-ul {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.navi-ul li {
    background-color: #fff;
    color: #666F89;
    width: 120px;
    padding: 2px;
    margin: 0 15px;
    text-align: center;
    border-radius: 2px;
    font-weight: 600;
}

.navi-ul li a:hover {
    color: #41848F;
}

.navi-ul li a {
    color: #666F89;
    text-decoration: none;

}

@media screen and (max-width: 500px) {
    body {
        width: 100vw;
    }
}

@media screen and (max-width: 460px) {
    .navi-logo {
        letter-spacing: 5px;
    }

    .navi-ul li {
        width: 70px;
    }
}

@media screen and (min-width: 800px) {
    .navi {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
        height: 50px;
    }
}

/* ********** FORM ********** */

#newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter input {
    padding-left: .7rem;
    margin-right: 1rem;
    width: 350px;
    height: 45px;
    font-weight: 600;
    border: 3px solid #666F89;
}

.f-button {
    width: 145px;
    height: 50px;
    font-family: 'Tajawal', sans-serif;
    text-decoration: underline;
    background-color: beige;
    color: #666F89;
    font-size: 1.6rem;
    letter-spacing: 7px;
    padding: 9px 0 0 10px;
    font-weight: 700;
    border: 3px solid #666F89;
}

.fa-arrow-right {
    width: 40px;
    font-size: 3.2rem;
    padding: 5px 7px;
    margin-right: 18px;
    background-color: #666F89;
    color: #fff;
}

.fa-arrow-left {
    width: 40px;
    font-size: 3.2rem;
    padding: 5px 7px;
    margin-left: 18px;
    background-color: #666F89;
    color: #fff;
}

/* ********** HEADER ********** */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/background-3.jpeg");
) background-position: -400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 0;
    text-align: center;
    color: whitesmoke;
    background-position: center;
}

@media screen and (max-width: 800px) {
    .hero {
        height: 680px;
    }
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
}

.hero .button {
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    border: whitesmoke 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}


.hero .button:hover {
    background: #0A1C28;
    color: whitesmoke;
}


/* ********** FUNCTION ICONS ********** */
main {
    background: #CACBD5;

}

.container-fluid.functions-container {
    padding-right: 30px;
}

.functions-container {
    max-width: 900px;
    padding-top: 3vh;
    background: #CDCBD5;
}

.function-icon {
    text-align: center;
    font-size: 100px;
    color: #0A1C28;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

.function-texts {
    text-align: center;
    align-self: center;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #666F89;
    border: solid 7px #0A1C28;
    padding: 5%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 3% auto;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.function-texts:hover {
    background-color: #D55E2D;
}

.top-row {
    padding-top: 1rem;
}

.bottom-row {
    padding-bottom: 4rem;
}

/* ********** SECTION "FUNCTIONS DETAILED ********** */

.function-details {
    color: white;
    background-color: #666F89;
    padding-bottom: 4rem;
}

.function-details h1 {
    color: #0A1C28;
    margin-top: 1rem;
}

.function-details p {
    color: lightgrey;
    font-size: 1.1em;
}

.function-details-text {
    margin-bottom: 2rem;
}

.zero-row {
    margin-top: 30px;
    text-align: center;
}

.img-icon {
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

h4 {
    background-color: #666F89;
}

.function-text {
    text-align: center;
    align-self: center;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #41848F;
    border: solid 7px #0A1C28;
    padding: 5%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 3% auto;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.function-text:hover {
    background-color: #72A7A3;
}

.first-row {
    margin-top: 40px;
}

.function-details-container {
    text-align: center;
}

.function-details-container h4 {
    font-size: 1.6em;
}

.func-icon {
    color: #0A1C28;
    font-size: 4em;
}

.offert {
    font-weight: bold;
}

/* ********** SECTION "About us" ********** */

.container.aboutus {
    background: #f8f9fa;
    height: calc(100% - 20px);
}

.team {
    font-weight: bold;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 5rem;
}

.rounded-circle {
    box-shadow: 0 5px 10px 0 #adb5bd;
}

.mb-4 {
    padding-bottom: 6rem;
}

.icon_1 {
    color: black;
}

.name {
    font-weight: bold;
    padding-top: 20px;
}

.newsletter {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: #3D4252;
    position: center;
}

hr {
    width: 40%;
    height: 1px;
    color: darkblue;
    background-color: darkblue;
    margin-top: 70px;
    margin-bottom: 70px;
}

.f-button {
    text-align: center;
}
