/* ********** NAWIGACJA ********** */

.nav {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: #666F89;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.menu {
    list-style-type: none;
    width: 100%;
    display: none;
    padding: 0;
    margin: 0;
    background: -moz-linear-gradient(top, #666f89 1%, #7a86a3 57%, #7a86a3 57%, #7a86a3 78%, #7a86a3 78%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #666f89 1%, #7a86a3 57%, #7a86a3 57%, #7a86a3 78%, #7a86a3 78%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #666f89 1%, #7a86a3 57%, #7a86a3 57%, #7a86a3 78%, #7a86a3 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666f89', endColorstr='#7a86a3', GradientType=0); /* IE6-9 */
}

#toggle:checked + .menu {
    display: block;
}

.menu li a {
    position: relative;
    display: block;
    font-family: 'Molengo', cursive;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    padding: .8rem 0 .4rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.menu li a:hover {
    color: #666F89;
    background-color: #fff;
}

.label {
    position: absolute;
    top: 12px;
    right: 8px;
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    line-height: 38px;
}

#toggle {
    display: none;
}

.nav-logo {
    font-size: 1.6rem;
    font-family: 'Special Elite', cursive;
    font-weight: 600;
    color: #fff;
    letter-spacing: 5px;
    padding: 4px .3rem;
    text-decoration: underline;
}

.nav-logo:hover {
    color: #fff;
}

.nav-logo span {
    background-color: #fff;
    color: #666F89;
    padding: 5px 3px 3px 12px;
    border-radius: 20px 20px 0 20px;
    text-decoration: underline;
    letter-spacing: 2px;
}

@media screen and (min-width: 576px) {
    .menu li a {
        padding-left: 15rem;
        letter-spacing: 6px;
    }
}

@media only screen and (min-width: 768px) {
    .label {
        display: none;
    }

    .nav {
        height: 40px;
        margin-top: 0;
        border-bottom: 0;
    }

    .hero {
        margin-top: 25px;
    }

    .nav-logo {
        padding: 13px 0 0 12px;
        font-size: 1.5rem;
    }

    #toggle:checked + .menu {
        display: flex;
    }

    .menu {
        display: flex !important;
        align-items: center;
        padding: 0;
        width: auto;
        background: none;
    }

    .menu li {
        border: none;
    }

    .menu li a {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 10px;
        padding: .8rem 1rem;
        border-bottom: none;
        text-decoration: none;
    }

    .menu li a:hover {
        border-radius: 0 0 4px 4px;
        line-height: 30px;
    }

}

/* ********** FORM ********** */

#newsletter {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsletter input {
    width: 200px;
    height: 45px;
    font-weight: 600;
    border: 3px solid #666F89;
    padding-left: 10px;
}

.newsletter {
    text-align: center;
    padding: 0 0 2rem;
    background: #3D4252;
}

.newsletter span {
    font-size: 1.2rem;
    padding-top: 1rem;
    color: #fff;
    line-height: .4rem;
}

.f-button {
    width: 160px;
    height: 50px;
    font-family: 'Tajawal', sans-serif;
    background-color: beige;
    color: #666F89;
    font-size: 1.6rem;
    letter-spacing: 7px;
    padding: 9px 0 0 10px;
    font-weight: 700;
    border: 3px solid #666F89;
}

.fa-arrow-right, .fa-arrow-left {
    display: none;
    width: 40px;
    font-size: 3.2rem;
    padding: 5px 7px;
    margin: 0 18px;
    background-color: #666F89;
    color: #fff;
    border: 3px solid #fff;
}

@media screen and (min-width: 576px) {
    #newsletter {
        flex-direction: row;
    }

    #newsletter input {
        margin: 0 1rem 0 0;
        padding-left: .7rem;
    }

    .fa-arrow-right, .fa-arrow-left {
        display: block;
    }

}

/* ********** HEADER ********** */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/background-3.jpeg") center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 0;
    text-align: center;
    color: whitesmoke;
}

@media screen and (max-width: 800px) {
    .hero {
        height: 680px;
    }
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
}

.hero .button {
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    border: whitesmoke 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.hero .button:hover {
    background: #0A1C28;
    color: whitesmoke;
}

/* ********** FUNCTION ICONS ********** */
main {
    background: white;
}

.container-fluid.functions-container {
    margin: 0 auto;
}

.functions-container {
    max-width: 900px;
    padding-top: 60px;
    background: white;
}

.function-icon .svg-inline--fa {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

.function-icon .svg-inline--fa:hover {
    color: #7b9df3;
    -webkit-transition: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}

.functions-container h1 {
    color: #0A1C28;
    text-align: center;
    font-weight: bold;
}

.function-icon {
    text-align: center;
    font-size: 100px;
    color: #0A1C28;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
}

.function-texts {
    text-align: center;
    align-self: center;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #CDCBD5;
    border: solid 7px #0A1C28;
    padding: 5%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 3% auto;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    transition: background-color 1s;
}

.function-texts:hover {
    background-color: #0A1C28;
    color: #4682B4;
}

.top-row {
    padding-top: 1rem;
}

/* ********** SECTION "FUNCTIONS DETAILED ********** */

.function-details {
    color: white;
    background-color: #666F89;
    padding-bottom: 4rem;
}

.function-details h1 {
    color: #0A1C28;
    margin: 4rem 0 0;
    font-weight: bold;
}

.function-details p {
    color: lightgrey;
    font-size: 1.1em;
}

.function-details-text {
    margin-bottom: 2rem;
}

.zero-row {
    margin-top: 30px;
    text-align: center;
}

.img-icon {
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    transition: color 1s;
}

h4 {
    background-color: #666F89;
}

.function-text {
    text-align: center;
    align-self: center;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #41848F;
    border: solid 7px #0A1C28;
    padding: 5%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 3% auto;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    transition: background-color 1s;
}

.function-text:hover {
    background-color: #72A7A3;
}

.first-row {
    margin-top: 40px;
}

.function-details-container {
    text-align: center;
}

.function-details-container h4 {
    font-size: 1.6em;
}

.func-icon {
    color: #0A1C28;
    font-size: 4em;
    cursor: pointer;
}

.func-icon .svg-inline--fa {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

.func-icon .svg-inline--fa:hover {
    color: #7b9df3;
    -webkit-transition: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}

/* ********** SECTION "About us" ********** */

.container.aboutus {
    background: #f8f9fa;
    height: calc(100% - 20px);
}

.team {
    font-weight: bold;
    text-align: center;
    padding: 4rem 0;
}

.rounded-circle {
    box-shadow: 0 5px 10px 0 #adb5bd;
}

.mb-4 {
    padding-bottom: 6rem;
}

.icon_1 {
    color: black;
}

.name {
    font-weight: bold;
    padding-top: 20px;
}

hr {
    width: 40%;
    height: 1px;
    color: darkblue;
    background-color: darkblue;
    margin-top: 70px;
    margin-bottom: 70px;
}

.f-button {
    text-align: center;
}
