/* ********** NAWIGACJA ********** */

main > * {
    padding: 100px 0 0;
}

.navi {
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px 0 10px;
    background-color: rgba(65, 132, 143, .95);
    color: #fff;
    border-bottom: 1px solid #fff;
}

.navi-logo {
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    letter-spacing: 15px;
    padding: .5rem;
    text-decoration: underline;
}

.navi-logo:hover {
    color: #fff;
}

.navi-logo span {
    background-color: #fff;
    color: rgb(65, 132, 143);
    padding: 5px 3px 3px 12px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    text-decoration: underline;
    letter-spacing: 2px;
}

.navi-ul {
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
.navi-ul li {
    background-color: #fff;
    color: rgb(65, 132, 143);
    width: 120px;
    padding: 2px;
    margin: 0 15px;
    text-align: center;
    border-radius: 2px;
    font-weight: 600;
}
.navi-ul li a:hover {
    color: #41848F;
}
.navi-ul a {
    color: #41848F;
    text-decoration: none;

}

@media screen and (max-width: 460px) {
    .navi-logo {
        letter-spacing: 5px;
    }
    .navi-ul li {
        width: 70px;
    }
}


@media screen and (max-width: 799px) {
    .my-4 {
        padding-top: 100px;
    }
}

@media screen and (min-width: 800px){
    .navi {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
        height: 50px;
    }
    main > * {
        padding-top: 51px;
    }
}
/* ********** FORM ********** */

.f-button {
    background-color: darkred;
    width: 200px;
    height: 100px;
    padding: .5rem;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    color: navajowhite;
    font-size: 2rem;
    font-weight: bolder;
}

/* ********** HEADER ********** */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/background-3.jpeg");
) background-position: - 400 px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 0;
    text-align: center;
    color: whitesmoke;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
}

.hero .button {
    font-size: 22px;
    text-decoration: none;
    color: whitesmoke;
    border: whitesmoke 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.hero .button:hover {
    background: #0A1C28;
    color: whitesmoke;
}

/* ********** FUNCTION ICONS ********** */

.functions-container {
    max-width: 900px;
    margin-top: 3vh;
}

.function-icon {
    text-align: center;
    font-size: 100px;
    color: #0A1C28;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

.function-text {
    text-align: center;
    align-self: center;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #41848F;
    border: solid 7px #0A1C28;
    padding: 5%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 3% auto;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.function-text:hover {
    background-color: #72A7A3;
}

/* ********** SECTION "FUNCTIONS DETAILED ********** */

.function-details {
    color: white;
    background-color: #41848F;
}

.function-details h1 {
    color: #0A1C28;
    margin-top: 30px;
}

.function-details p {
    color: lightgrey;
    font-size: 1.1em;
}

.zero-row {
    margin-top: 30px;
    text-align: center;
}

.img-icon {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

h4 {
    background-color: #41848F;
}

.function-text {
    text-align: center;
    align-self: center;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #41848F;
    border: solid 7px #0A1C28;
    padding: 5%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 3% auto;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.function-text:hover {
    background-color: #72A7A3;
}
.first-row {
    margin-top: 40px;
}

.function-details-container {
    text-align: center;
}

.function-details-container h4 {
    font-size: 1.6em;
}

.func-icon {
    color: #0A1C28;
    font-size: 4em;
}

/* ********** SECTION "O NAS" ********** */


.aboutus {
    background: #f8f9fa;
}

.my-4 {
    text-align: center;
}

.rounded-circle {
    box-shadow: 0 5px 5px 0 #adb5bd;
}

.name {
    padding-top: 20px;
}

hr {
    width: 40%;
    height: 1px;
    color: darkblue;
    background-color: darkblue;
    margin-top: 70px;
    margin-bottom: 70px;
}



.f-button {
    text-align: center;
}