/************* GENERAL *************************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body {
    background-color: #a52a2a;
    font-family: 'Electrolize', sans-serif;
    color: #f0f8ff;
    width: 100%;
}
a {
    text-decoration: none;
    color: #f0f8ff;
}
.other-lang, .index-wrapper, .index-enter, .index-enter a, .nav,
.header, .header h1, .main, .interests, .skill-wrapper, .footer {
    display: flex;
}

    /************* FONT-AWESOME **************/
.uparrow {
    position: fixed;
    bottom: 63px;
    left: .7rem;
    font-size: 2.8rem;
    transition: all 500ms;
    border-radius: 50%;
}
.uparrow:hover {
    color: #a52a2a;
    background-color: #f0f8ff;
}

/************* LANGUAGES ******************************************/
.lang {
    display: inline-block;
    width: 2.3rem;
    height: 1.6rem;
    background-size: cover;
    border: 2px solid #f0f8ff;
    border-radius: 2px;
}
.pl {
    background-image: url("img/pl-big.svg");
}
.de {
    background-image: url("img/de-big.svg");
}
.en {
    background-image: url("img/gb-big.svg");
}
.fr {
    background-image: url("img/fr-big.svg");
}
.sk {
    background-image: url("img/sk-big.svg");
}

/************* LANG-SELECT ****************/
.other-lang {
    z-index: 15;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    right: 0;
    top: 70px;
    width: 56px;
    height: 8.2rem;
    padding-top: 4px;
    background: #a52a2a;
    border: 1px solid #f0f8ff;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.other-lang .lang {
    border: none;
    width: 2rem;
}
.other-lang .lang:hover {
    border: 1px solid #f0f8ff;
}

/************* INDEX-PAGE **********************************************************/
.index-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.index-wrapper h1 {
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: .8rem;
    line-height: 5rem;
}
.index-logo {
    font-size: 21rem;
    font-weight: light;
}
.index-enter {
    justify-content: center;
    flex-wrap: wrap;
}
.index-enter a {
    justify-content: center;
    align-items: center;
    background: #f0f8ff;
    color: #a52a2a;
    margin: 0 1rem 1rem;
    padding: .6rem .8rem;
    font-size: 1.5rem;
    word-spacing: .3rem;
    border-radius: 2px;
    transition: all 400ms;
}
.index-enter a:hover {
    color: #f0f8ff;
    background: #a52a2a;
}

/************** NAV *****************************************************************/
.nav {
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background-color: #a52a2a;
    font-size: 1.3rem;
    border-bottom: 1px solid #f0f8ff;
}
.nav-logo {
    font-size: 2rem;
    background-color: #f0f8ff;
    color: #a52a2a;
    margin-left: .4rem;
    border-radius: 3px;
    transition: all 600ms;
}

/************** NAV-UL ********************/
.nav li {
    display: inline-block;
    margin: 0 1.3rem;
}
.nav a {
    transition: all .4s;
}
.nav a:hover {
    background-color: #f0f8ff;
    color: #a52a2a;
    border-radius: 3px;
}

/************** HEADER **************************************************************/
.header {
    justify-content: center;
    align-items: flex-end;
    background-image: url("img/ja.jpg");
    background-size: cover;
    height: 100vh;
}
.header h1 {
    flex-direction: column;
    width: 70%;
    background-color: rgba(165, 42, 42, 1);
    font-size: 1.8rem;
    font-weight: lighter;
    padding: 1.5rem 1.5rem 0rem 3rem;
    border: 1px solid #f0f8ff;
    border-bottom: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 25%;
}
.about-me-button {
    text-align: center;
    margin: 1.5rem auto;
    padding: 0 .5rem 0 1.2rem;
    background-color: #f0f8ff;
    color: #a52a2a;
    transition: all 600ms;
    letter-spacing: 5px;
    border-radius: 4px;
}
.button:hover {
    background-color: rgba(165, 42, 42, .95);
    color: #f0f8ff;
    border-left: 2px solid #f0f8ff;
    border-right: 2px solid #f0f8ff;
}
.header-quote {
    display: inline-block;
    font-family: 'Kite One', sans-serif;
    font-size: 1.3rem;
    padding: .4rem 0 1rem;
    letter-spacing: 5px;
    text-align: end;
}

/************** MAIN ****************************************************************/
.main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f0f8ff;
}

.main p {
    line-height: 3rem;
    text-align: left;
}

/************** HEADERS *******************/
.main h2 {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: lighter;
    letter-spacing: 5px;
    height: 80px;
}
.main h3 {
    display: inline-block;
    color: #a52a2a;
    background: #f0f8ff;
    font-size: 2.5rem;
    font-weight: lighter;
    letter-spacing: 5px;
    border-radius: 3px;
    padding: .5rem;
    margin-bottom: 1.5rem;
}
.main h3:first-of-type {

}

/************** MAIN-SUB-POINTS ***********/
.main ul i {
    padding: 0 10px;
}
.about {
    font-size: 1.5rem;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 4rem;
}
.interests {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px auto;
    font-size: 2.5rem;
    text-align: center;
}
.interests li {
    padding: 8px 0;
}
.skill-wrapper {
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: calc(100vh - 100px);
    margin: 0 auto;
    background-color: #a52a2a;
    font-size: 2.2rem;
}
.skill-wrapper ul, .languages {
    text-align: center;
}
.skill-wrapper li {
    padding: 13px 0;
}

.it-skills h3 {
    width: 400px;
    text-align: center;
}

/************** FOOTER *************************************************************/
.footer {
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    padding: .85rem 0 .5rem;
    background-color: #a52a2a;
    border-top: 1px solid #f0f8ff;
    border-top-left-radius: 40%;
}

.footer .fab {
    font-size: 2.2rem;
}
.footer .fa-google {
    font-size: 1.4rem;
}
.footer .fa-facebook-square {
    font-size: 1.8rem;
}


