/*font-family: 'Luckiest Guy', cursive;*/
/*font-family: 'Press Start 2P', cursive;*/

* {
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgba(82, 79, 57, 0.8);
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


body {
    background: linear-gradient(rgba(138, 154, 213, 0.29), rgba(255, 160, 245, 0.4)),
    url("../img/game-bg.png") no-repeat center center fixed;
    background-size: cover;
    padding: 3rem;
    color: #4286f4;
    width: 100%;
    height: 100vh;
    text-align: center;
    box-shadow: 0 0 70px 20px #5e4764;
    -webkit-perspective: 700px;
    -moz-perspective: 700px;
    -ms-perspective: 700px;
    perspective: 700px;
}

@media only screen and (min-width: 321px) /*and (orientation: landscape)*/ {

    .main-header {
        position: relative;
        top: 2rem;
        font-family: 'Press Start 2P', cursive;
        font-size: 3.8rem;
        text-shadow: 5px 2px 0 #F44286;
        line-height: 5.5rem;
        letter-spacing: .5rem;
        margin: 0 auto;
        text-transform: uppercase;
    }

    /* BTN Reset */
    .btn {
        background: transparent;
        border: 5px solid rgba(66, 134, 244, 0.78);
        padding: 0;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
    }

    /* BTN Style */
    .btn {
        width: 20rem;
        position: relative;
        margin: 3rem;
        margin-bottom: .5rem;
        padding: 1.7rem 3.5rem;
        font-family: 'Press Start 2P', cursive;
        font-size: 2rem;
        border-radius: 8px;
        border-bottom: 1px solid rgba(134, 244, 66, .5);
        background: rgba(244, 176, 66, 0.95);
        color: #fff;
        box-shadow: 0 0 0 rgba(15, 165, 60, 0.1);

        -webkit-transform: rotateX(20deg);
        -moz-transform: rotateX(20deg);
        -ms-transform: rotateX(20deg);
        transform: rotateX(20deg);

        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .btn.score-btn {
        width: 25rem;
        padding: 2rem
    }

    .btn:hover {
        top: -10px;
        box-shadow: 0 10px 10px rgba(244, 66, 134, 0.47);

    }

    .btn:active {
        top: 0;
        background: rgba(244, 66, 134, 0.91);
    }

}


@media only screen and (min-width: 1200px){

    body {
        padding: 2rem 7rem;
    }

    .main-header {
        animation: header 2s;
        animation-fill-mode: forwards;
    }

    @keyframes header {

        from {
            font-size: 0;
        }

        to {
            font-size: 4rem;
        }

    }

    .start-btn   {
        animation: start-btn 2s;
        animation-fill-mode: forwards;
    }

    .close-btn {
        animation: close-btn 2s;
        animation-fill-mode: forwards;
    }

    .score-btn {
        animation: score-btn 2s;
        animation-fill-mode: forwards;

    }

    @keyframes start-btn {
        from {
            position: absolute;
            top: 0;
            left: 0;
        }

        to {
            position: absolute;
            top: 30%;
            left: 18%;
        }
    }

    @keyframes close-btn {
        from {
            position: absolute;
            top: 0;
            right: 0;
        }

        to {
            position: absolute;
            top: 30%;
            right: 18%;
        }
    }

    @keyframes score-btn {
        from {
            position: absolute;
            top: -100px;
            left: 35%;
        }

        to {
            position: absolute;
            left: 35%;
            top: 50%;
        }

    }

}